<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-12 w-100">
      <form [formGroup]="formulario"  (ngSubmit)="analizarFormulario()">
        <div class="row">
          <div class="mb-3 col-6">
            <div class="row">
              <div class="col-12">
                <h3>Mercancia:</h3>
                <hr>
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-upc"></i></span>
              <input type="text" class="form-control" placeholder="IUP" formControlName="iup" (blur)="buscarMercancia()">
            </div>
            <div *ngIf="formulario.get('iup')?.touched && formulario.get('iup')?.errors?.['required']" class="form-text text-danger fw-bold">Este campo es obligatorio.</div>
            <div *ngIf="formulario.get('iup')?.touched && formulario.get('iup')?.errors?.['minlength']" class="form-text text-danger fw-bold">Este campo debe tener almenos 6 caractéres.</div>
          </div>
          <div *ngIf="controlDeZona" class="col-6">
            <div class="row">
              <div class="col-12">
                <h3>Ubicación en cuarto:</h3>
                <hr>
              </div>
            </div>
            <div class="mb-3">
              <select class="form-select" formControlName="zona">
                <option value={{zona.id}} *ngFor="let zona of datosZonas">{{zona.nombre}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <h4>Remitente</h4>
          <hr>
          <label  class="form-label mb-2">Tipo de remitente: </label>
          <input type="text" class="form-control" placeholder="TipoRemitente" formControlName="tiporemitente">
        </div>

        <div class="mb-3">
          <div class="row">
            <div class="col-6">

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
                <input type="text" class="form-control" placeholder="Identificacion" formControlName="idremitente">
              </div>

            </div>
            <div class="col-6">

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i> </span>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreremitente">
              </div>

            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="row">
              <div class="col-6">
                  <input type="text" class="form-control" placeholder="departamento" formControlName="deptoremitente">
              </div>
              <div class="col-6">
                  <input type="text" class="form-control" placeholder="municipio" formControlName="municipioremitente">
              </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt"></i></span>
            <input type="text" class="form-control" placeholder="Direccion" formControlName="direccionremitente" >
          </div>
        </div>

        <div class="mb-2">
          <h4 class="mt-5">Destinatario</h4>
          <hr>
          <label  class="form-label mb-2">Tipo de destinatario: </label>
          <input type="text" class="form-control" placeholder="TipoDestinatario" formControlName="tipodestinatario">
        </div>

        <div class="mb-3">
          <div class="row">
            <div class="col-6">

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
                <input type="text" class="form-control" placeholder="Identificacion" formControlName="iddestinatario">
              </div>

            </div>
            <div class="col-6">

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i> </span>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombredestinatario">
              </div>

            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="row">
              <div class="col-6">
                  <input type="text" class="form-control" placeholder="Departamento" formControlName="deptodestinatario">
              </div>
              <div class="col-6">
                  <input type="text" class="form-control" placeholder="Municipio" formControlName="municipiodestinatario">
              </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt"></i></span>
            <input type="text" class="form-control" placeholder="Direccion"  formControlName="direcciondestinatario">
          </div>
        </div>


        <div class="containerregistrar">
          <button type="submit" class="btn btn-warning my-4 w-50 ">Registrar</button>
        </div>

      </form>
    </div>
  </div>
</div>
